* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 93, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background-color: rgb(136, 136, 136);
    padding: 20px;
    border-radius: 35px;   
}

.container form input{
    outline: none;
    border: none;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(86, 78, 78 0, 1), -3px -3px -3px rgba(86, 78, 78 , 0, 1) ;
    transition: all 0.2s ease-in-out;
}
.container form input:hover:not(.text){
    background-color: rgba(32, 32, 32, 0, 1);
    color: rgb(86, 78, 78);
    transition: all 0.2s ease-in-out;
}
form .display {
    background-color: rgb(117, 116, 116);
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border-radius: 50px;
}
form .display input{
    width: 100%;
    text-align: right;
    font-size: 24px ;
    border-radius: 50px;
}
form input.equal{
    width: 135px;
}
form input.operador{
    color:rgb(41, 41, 41);
}
